.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.App > * {
  border: 1px solid #000;
}
nav {
  grid-column: 1/-1;
}
.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.open {
  display: initial;
}
.closed {
  display: none;
}
